/* desgin the footer */
.footer{
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
    border: 2px solid #9e1a1a;

  }
  /* change the background color of footer */
  #footer{
    background-color:black;
    text-align: center;
    color:white;
    border: 2px solid #9e1a1a;

  }
  /* change the link color*/
  footer a:link{
    color:white;
    text-decoration: none;
  }
  /* changed the visted color of link */ 
  footer a.visted{
    color:gray;
  }
  /* change the hover color */ 
  footer a:hover{
    color: #dc9e02;
    text-decoration: underline;
  }
 